<div class="container">
   <form class="form-outline">
      <div class="input-wrap">
         <input type="text" placeholder="Name">
      </div>
      <div class="input-group mb-3">
         <input type="text" class="form-control" placeholder="Button name" aria-label="Recipient's username" aria-describedby="basic-addon2">
         <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" id="dynamic-alert">Register</button>
         </div>
      </div>
   </form>

