		<div class="sign in">
			<div class="container">
				<form class="form-fill">
					<div class="form-wrapper">
						<div class="input-wrap">
							<input type="email" placeholder="Email">
						</div>
						<div class="input-wrap">
							<input type="password" placeholder="Password">
						</div>
					</div>
					<div class="button-default">
						<button class="button">Sign In</button>
					</div>
				</form>

				<!-- separator -->
				<div class="separator-medium"></div>
				<!-- end separator -->

				<div class="link-forgot text-center text-small">
					<a href="reset-password.html" class="color-theme">Forgot Password?</a>
				</div>
			</div>
		</div>
