
{% extends 'partials/base.html' %}

{% load static %}
{% block extra_css %}
<link href="{% static 'libs/sweetalert2/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />

{% endblock extra_css %}
{% block header %}
{% include 'partials/navbar_extra.html'%}
{% include 'partials/sidebar.html' %}
{% endblock header %}


{% block content %}
<div class="page-wrapper">
{% include 'partials/add_form.html' %}
</div>

{% endblock content %}
{% block extra_javascript %}
<script src="{% static 'libs/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'js/sweet-alerts.init.js' %}"></script>

{% endblock extra_javascript %}

